*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

.row{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

button {
    border: none;
    border-radius: 20px;
    padding: 10px 15px;
    font-family: inherit;
}

.container{
    width: 85%;
    max-width: 750px;
    margin: 0 auto;
}

.card{
    border-radius: 20px;
}

/* testo */

.text-center{
    text-align: center;
}

h2 {
    font-size: 30px;
}

/* nav */

nav{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: #0084fd;
    color: white;
    z-index: 20;
}

nav .row{
    align-items: stretch;
    justify-content: space-between;
}

nav .row>.col{
    padding: 20px;
    display: flex;
    align-items: center;
}

.desktop-menu{
    display: none;
}

nav a{
    text-decoration: none;
    color: inherit;
}

nav a:hover{
    text-decoration: underline;
}

/* section advantages */

#advantages{
    margin-top: 80px;
    width: 100%;
}

#advantages .col-33, #advantages .col-66{
    background-color: #b5ddff;
    margin: 25px auto;
    width: calc(100%);
    padding: 10px 15px;
}

#advantages .col-66{
    padding-bottom: 0;
}

#advantages .col-33{
    display: flex;
    align-items: center;
    flex-direction: column;
}

#advantages .content-left, .content-right, #advantages .contents{
    width: 100%;
}

#advantages .content-right>img{
    width: 75%;   
    margin: 0 auto;
}

.content-right{
    display: flex;
    justify-content: center;
}

#advantages p{
    color:#5c7082;
    margin: 30px auto;
}

#advantages .col-33 i{
    font-size: 70px;
}

#advantages h3,#advantages .col-33>i{
    color: #0084fd;
    margin: 30px 0 0 0;
}

#advantages button{
    color: white;
    background-color: #0084fd;
    padding: 7px 30px;
}

/* planning section */

#planning{
    width: 100%;
    background-color: #9593e6;
    color: white;
    margin-top: 80px;
    padding: 80px 0;
}

#planning .col-50{
    width: 100%;
    padding: 30px 0;
}

#planning .col-50>img{
    width: 100%;
    margin-bottom: 60px;
}

#planning h2 {
    margin: 30px 0;
}

#planning .col-50:nth-child(2) {
    background-color: white;
    color: black;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#planning .col-50:nth-child(2) img{
    width: 70%;
    margin-bottom: 30px;
}

#planning button{
    background-color: #9593e6;
    margin-top: 30px;
}

/* testimonials */

#testimonial{
    margin-top: 40px;
    width: 100%;
}

#testimonial .row{
    flex-direction: column;
    align-items: center;
}

#testimonial h2{
    font-size: 30px;
    color: #9593e6;
    margin-top: 50px;
}

#testimonial p{
    margin: 30px auto;
}

.img-testimonial{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-position-x: center;
    background-size: cover;
}

#testimonial .col.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #9593e6;
    padding: 25px 15px;
    color: white;
    margin: 20px 0;
}

#testimonial-1{
    background-image: url(../img/testimonial1.jpg);
}

#testimonial-2{
    background-image: url(../img/testimonial2.jpg);
}

#testimonial-3{
    background-image: url(../img/testimonial3.jpg);
}

#testimonial .fa-quote-left{
    position: relative;
    bottom: 5px;
    margin-right: 5px;
}

#testimonial .fa-quote-right{
    position: relative;
    top: 5px;
    margin-left: 5px;
}

/*******************
 tablet 
 ******************/

@media screen and (min-width:768px){

    /* nav */

    nav .container{
        width: 100%;
        max-width: 920px;
    }

    /* section advantages */

    #advantages .col-66{
        width: calc(200% / 3 - 30px);
    }

    #advantages .col-33{
        width: calc(100% / 3 - 30px);
    }

    /* section testimonials */
    
    #testimonial .col.card{
        flex-direction: row;
        justify-content: space-between;
    }

    #testimonial .col.card .descr-testimonial{
        width: calc(100% - 170px);
    }

    #testimonial .col.card .text-center{
        text-align: left;
    }    
}

/****************** 
desktop 
******************/

@media screen and (min-width:991px){

    .container{
        width: 80%;
        max-width: 1200px;
        margin: 0 auto;
    }


    /* nav */

    .hamburger{
        display: none;
    }

    .desktop-menu{
        display: flex;
        align-items: stretch;
    }

    .desktop-menu ul{
        list-style: none;
        display: flex;
    }

    .desktop-menu ul li{
        padding: 0 10px;
        display: flex;
        align-items: center;
    }

    .desktop-menu ul li:last-child{
        padding-right: 0;
    }

    /* advantages section */

    #advantages .contents{
        display: flex;
        align-items: flex-start;
        height: 100%;
    }

    #advantages .content-left,#advantages .content-right{
        width: 50%;
        margin: 0 auto;
    }

    #advantages .content-right{
        align-self: flex-end;
    }

    #advantages .col-66{
        position: relative;
    }

    /* planning */

    #planning .container{
        width: 60%;
    }

    #planning .row{
        align-items: flex-end;
    }

    #planning .col-50{
        width: 50%;
    }

    #planning .col-50:nth-child(2){
        width: calc(50% - 60px);
        margin: 30px;
    }

}

/******************** 
large desktop 
*********************/

@media screen and (min-width:1200px){
    
    /* nav */

    .container{
        width: 80%;
        max-width: 1290px;
        margin: 0 auto;
    }

}

